/*
 * This file is derived from modena.css, the style sheet for the Modena theme.
 * The original comments have been preserved, so they may not reflect the
 * modified colours.
 */
.root {
  /* A light grey that is the base color for objects.  Instead of using
   * -fx-base directly, the sections in this file will typically use -fx-color.
   */
  -fx-base: rgb(72, 72, 72);

  /* A very light grey used for the background of windows.  See also
   * -fx-text-background-color, which should be used as the -fx-text-fill
   * value for text painted on top of backgrounds colored with -fx-background.
   */
  -fx-background: derive(-fx-base, -25%);

  /* Used for the inside of text boxes, password boxes, lists, trees, and
   * tables.  See also -fx-text-inner-color, which should be used as the
   * -fx-text-fill value for text painted on top of backgrounds colored
   * with -fx-control-inner-background.
   */
  -fx-control-inner-background: derive(-fx-base, -35%);

  /* Version of -fx-control-inner-background for alternative rows */
  -fx-control-inner-background-alt: derive(-fx-control-inner-background, 10%);















  /* A bright blue for highlighting/accenting objects.  For example: selected
   * text; selected items in menus, lists, trees, and tables; progress bars */
  -fx-accent: rgb(0, 128, 72);

  /* Default buttons color, this is similar to accent but more subtle */
  -fx-default-button: rgb(0, 112, 64);

  /* A bright blue for the focus indicator of objects. Typically used as the
   * first color in -fx-background-color for the "focused" pseudo-class. Also
   * typically used with insets of -1.4 to provide a glowing effect.
   */
  -fx-focus-color: rgb(224, 144, 64);
  -fx-faint-focus-color: rgba(240, 156, 72, 0.20);

  /* A little lighter than -fx-base and used as the -fx-color for the
   * "hovered" pseudoclass state.
   */
  -fx-hover-base: ladder(
      -fx-base,
      derive(-fx-base,  8%) 20%,
      derive(-fx-base, 16%) 35%,
      derive(-fx-base, 24%) 50%
   );

  /* A little darker than -fx-color and used to draw boxes around objects such
   * as progress bars, scroll bars, scroll panes, trees, tables, and lists.
   */
  -fx-box-border: ladder(
      -fx-color,
      derive(-fx-color, 15%) 20%,
      rgb(208, 208, 208) 40%
  );

  /* Darker than -fx-background and used to draw boxes around text boxes and
   * password boxes.
   */
  -fx-text-box-border: ladder(
      -fx-background,
      derive(-fx-background, 15%) 20%,
      rgb(224, 224, 224) 22.75%
  );

  /* Lighter than -fx-background and used to provide a small highlight when
   * needed on top of -fx-background. This is never a shadow in Modena but
   * keep -fx-shadow-highlight-color name to be compatible with Caspian.
   */
  -fx-shadow-highlight-color: rgb(32, 32, 32);

  /* A gradient that goes from a little darker than -fx-color on the top to
   * even more darker than -fx-color on the bottom.  Typically is the second
   * color in the -fx-background-color list as the small thin border around
   * a control. It is typically the same size as the control (i.e., insets
   * are 0).
   */
  -fx-outer-border: derive(-fx-color, 60%);

  /* A gradient that goes from a bit lighter than -fx-color on the top to
   * a little darker at the bottom.  Typically is the third color in the
   * -fx-background-color list as a thin highlight inside the outer border.
   * Insets are typically 1.
   */
  -fx-inner-border: linear-gradient(to bottom,
              ladder(
                  -fx-color,
                  derive(-fx-color,30%) 0%,
                  derive(-fx-color,20%) 40%,
                  derive(-fx-color,25%) 60%,
                  derive(-fx-color,55%) 80%,
                  derive(-fx-color,55%) 90%,
                  derive(-fx-color,75%) 100%
              ),
              ladder(
                  -fx-color,
                  derive(-fx-color,20%) 0%,
                  derive(-fx-color,10%) 20%,
                  derive(-fx-color,5%) 40%,
                  derive(-fx-color,-2%) 60%,
                  derive(-fx-color,-5%) 100%
              ));
  -fx-inner-border-horizontal: linear-gradient(to right, derive(-fx-color,55%), derive(-fx-color,-5%));
  -fx-inner-border-bottomup: linear-gradient(to top, derive(-fx-color,55%), derive(-fx-color,-5%));

  /* A gradient that goes from a little lighter than -fx-color at the top to
   * a little darker than -fx-color at the bottom and is used to fill the
   * body of many controls such as buttons.
   */
  -fx-body-color: linear-gradient(to bottom,
          ladder(
              -fx-color,
              derive(-fx-color, -10%) 75%,
              derive(-fx-color, -15%) 80%
          ),
          derive(-fx-color, 12%));
  -fx-body-color-bottomup: linear-gradient(to top, derive(-fx-color, 15%), derive(-fx-color, 30%));
  -fx-body-color-to-right: linear-gradient(to right, derive(-fx-color, 15%), derive(-fx-color, 30%));

  /* The color to use as -fx-text-fill when painting text on top of
   * backgrounds filled with -fx-base, -fx-color, and -fx-body-color.
   */
  -fx-text-base-color: white;

  /* The color to use as -fx-text-fill when painting text on top of
   * backgrounds filled with -fx-control-inner-background.
   */
  -fx-text-inner-color: ladder(
      -fx-control-inner-background,
      -fx-light-text-color 45%,
      -fx-dark-text-color  46%,
      -fx-dark-text-color  59%,
      -fx-mid-text-color   60%
  );

  /* The color to use for small mark-like objects such as checks on check
   * boxes, filled in circles in radio buttons, arrows on scroll bars, etc.
   */
  -fx-mark-color: ladder(
      -fx-color,
      derive(-fx-color, 45%) 20%,
      white 25%
  );

  /* The small thin light "shadow" for mark-like objects. Typically used in
   * conjunction with -fx-mark-color with an insets of 1 0 -1 0. */
  -fx-mark-highlight-color: ladder(
      -fx-color,
      derive(-fx-color, 80%) 60%,
      white 70%
  );

  /* Background color to use for selection of list cells etc. This is when
   * the control doesn't have focus or the row of a previously selected item. */
  -fx-selection-bar-non-focused: rgb(112, 112, 112);
}

.list-view:focused .list-cell:filled:selected,
.tree-view:focused .tree-cell:filled:selected,
.table-view:focused .table-row-cell:filled:selected,
.tree-table-view:focused .tree-table-row-cell:filled:selected,
.table-view:focused .table-cell:selected,
.tree-table-view:focused .tree-table-cell:selected {
  -fx-background: -fx-selection-bar;
  -fx-table-cell-border-color: -fx-selection-bar;
}

.list-view:focused .list-cell:focused,
.tree-view:focused .tree-cell:focused,
.table-view:focused:row-selection .table-row-cell:focused,
.tree-table-view:focused:row-selection .tree-table-row-cell:focused,
.table-view:focused:cell-selection .table-cell:focused,
.tree-table-view:focused:cell-selection .tree-table-cell:focused {
  -fx-background-color: -fx-selection-bar, -fx-background;
  -fx-background-insets: 0, 1;
}

.scroll-bar:horizontal > .thumb {
  -fx-background-color: -fx-outer-border, -fx-inner-border,
                        linear-gradient(to bottom, derive(-fx-color, 15%), derive(-fx-color, 30%));
}

.slider .thumb {
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, 20%), derive(-fx-text-box-border, 30%)),
                        -fx-inner-border, -fx-body-color;
}

.slider:focused .thumb {
  -fx-background-color: -fx-focus-color, -fx-inner-border, derive(-fx-color, -50%), -fx-faint-focus-color;
}

.axis {
  AXIS_COLOR: derive(-fx-background, 60%);
}

.tab-pane > .tab-header-area > .tab-header-background {
  -fx-background-color:
      -fx-outer-border,
      -fx-text-box-border,
      linear-gradient(from 0px 0px to 0px 4px, -fx-text-box-border, derive(-fx-text-box-border, -50%));
}

.text-input {
  -fx-highlight-fill: derive(-fx-control-inner-background, 50%);
  -fx-prompt-text-fill: rgb(144, 144, 144);
}

.text-input:focused {
  -fx-highlight-fill: -fx-accent;
  -fx-prompt-text-fill: transparent;
  -fx-highlight-text-fill: white;
}

/*
.html-editor .web-view {
  -fx-page-fill: rgb(48, 48, 48);
}
*/

.context-menu,
.combo-box-popup > .list-view {
  -fx-background-color: linear-gradient(to bottom, derive(-fx-color, 10%), derive(-fx-color, 30%)),
                        -fx-control-inner-background;
  -fx-background-insets: 0, 1;
  -fx-padding: 0.333333em 0.083333em 0.333333em 0.083333em; /* 4 1 8 1 */
  -fx-effect: dropshadow(gaussian, rgba(248, 248, 248, 0.2), 12.0, 0.0, 5, 5);
}
